* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .grid-wrap
{
    padding: 2rem;
} */

/* .grid
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
}

.grid + .grid 
{
    margin-top: 2rem;
}

.grid-magic
{
    min-height: 15vh;
    max-height: 25vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

ul, nav
{
    list-style: none;
}

body 
{
    font: normal 16px Helvetica,'Segoe UI',sans-serif;
    min-height: 100vh;
    font-family: Helvetica, 'Segoe IU', sans-serif;
    text-align: center;
}

a
{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 1;
}

a:hover
{
    opacity: 0.9;
}

ul.grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header
{
    margin-bottom: 4rem;
    background-color: #E5EBEF;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    align-items: center;
    padding: 35px 100px 20px;
    display: flex;
    justify-content: space-around;
}

header nav
{
    display: flex;
}

header nav li
{
    margin: 0 15px;
}

header nav li:first-child
{
    margin-left: 0;
}

header nav li:last-child
{
    margin-right: 0;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: #003C68;
    color: white;
    padding: 60px 0;
    text-align: center;
    align-items: center;
}

footer h2, p{
    padding-bottom: 1rem;
}

footer ul{
    display: flex;
    margin-bottom: 25px;
    font-size: 16px;
}

footer ul li{
    margin: 0 8px;
}

footer ul li:first-child{
    margin-left: 0;
}

footer ul li:last-child{
    margin-right: 0;
}

/* nav > ul 
{
    display: flex;
    justify-content: space-around;
} */

figcaption
{
    padding: 1rem;
    text-align: center;
}

figure
{
    object-fit: fill;
    border: blue dashed 2px;
}

@media only screen and (max-width: 768px) 
{
    .basicImage {
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-width: 768px) 
{
    .basicImage {
        width: 600px;
        height: 500px;
    }
}

/* main {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
}

main > div {
    display: flex;
    padding: 5px;
    justify-content: space-between;
}



img {
    width: auto;
} */