* {
    box-sizing: border-box;
}

.header 
{
    font-weight: bold;
    font-size: 64px;
    color: #f98e1d;
    text-align: center;
    margin-bottom: 4rem;
    width: 100vw;
}
/* .grid-wrap
{
    padding: 2rem;
} */

.grid
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
}

.grid + .grid 
{
    margin-top: 2rem;
}

.grid-magic
{
    min-height: 15vh;
    max-height: 25vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body 
{
    min-height: 100vh;
    font-family: Helvetica, 'Segoe IU', sans-serif;
}

nav
{
    margin-bottom: 4rem;
    background-color: #E5EBEF;
}

nav > ul 
{
    display: flex;
    justify-content: space-around;
}
 
nav > ul > li 
{
    font-size: 24px;
    list-style-type: none;
    padding: 3rem 1rem;
    border-radius: 50px;
    border: blue dashed 2px;
}

figcaption
{
    padding: 1rem;
    text-align: center;
}

figure
{
    object-fit: fill;
    border: blue dashed 2px;
}

/* @media only screen and (max-width: 768px) 
{
    .basicImage {
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-width: 768px) 
{
    .basicImage {
        width: 600px;
        height: 500px;
    }
} */

/* main {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
}

main > div {
    display: flex;
    padding: 5px;
    justify-content: space-between;
}



img {
    width: auto;
} */