.header {
    font-weight: bold;
    font-size: 64px;
    color: #f98e1d;
    text-align: center;
    margin-bottom: 4rem;
}

nav > ul {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4rem;
}
 
nav > ul > li {
    color: #b16e10;
    font-size: 24px;
    list-style-type: none;
    padding: 3rem 1rem;
    border-radius: 50px;
    background: #ffc677;
    box-shadow:  20px 20px 60px #d9a865,
                -20px -20px 60px #ffe489;
}

@media only screen and (max-width: 768px) {
    .basicImage {
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-width: 768px) {
    .basicImage {
        width: 600px;
        height: 500px;
    }
}

main {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
}

main > div {
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

body {
    font-family: Helvetica;
    background-color: #ffc677;
}

img {
    width: auto;
}